<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Navbar brand link -->
      <a class="navbar-brand ajax-link" href="{% url 'home' %}">Meu Projeto</a>
      <!-- Navbar toggle for responsive navigation -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar collapsible content -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Navigation links -->
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link ajax-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ajax-link" href="{% url 'concursos' %}">Concursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ajax-link" href="{% url 'jogos' %}">Meus Jogos</a>
          </li>
          <li class="nav-item">
            <!-- Disabled link -->
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Planos</a>
          </li>
        </ul>
        <!-- Authentication links -->
        <div class="navbar-nav">
          {% if user.is_authenticated %}
            <!-- Display username if logged in -->
            <span class="navbar-text">
              Olá, {{ user.username }}!
            </span>
          {% else %}
            <!-- Display login and signup links if not logged in -->
            <a class="nav-item nav-link ajax-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link ajax-link" href="{% url 'signup' %}">Cadastro</a>
          {% endif %}
        </div>
      </div>
    </div>
</nav>
