{% extends 'index.html' %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1>Bem-vindo ao Sistema de Gerenciamento de Concursos</h1>
        <p class="lead">Aqui você pode visualizar, adicionar e gerenciar os concursos de forma prática e eficiente.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="{% url 'listar_concursos' %}" role="button">Ver Concursos</a>
        <a class="btn btn-success btn-lg" href="{% url 'adicionar_concurso' %}" role="button">Adicionar Concurso</a>
    </div>
</div>
{% endblock %}
